#login_long
  = form_for(:user, :url => {:action => 'send_password_reset_request'}) do |f|
    #login_info
      = f.label 'Email Address'
      = f.email_field :username
      = f.submit "Send Reset Request"