#email
  %img{:src => 'http://theredneckroundup.com/assets/redneck_roundup_logo.png', :size => '325x114'}
  %br
  %h2 Thank you for registering with The Redneck Roundup
  %br
  %p=raw "Click <a href=http://theredneckroundup.com/user/validate_email/#{@user.id}&verifier=#{@user.registration_hash}>here</a> to verify your email address and finish the registration process"