#registration
  %table
    %tbody
      %tr
        %td
          %table#registration_table{:style => 'max-height:240px'}
            %tbody
              %tr
                %td{:rowspan => 2, :style => 'border-left'}
                  = image_tag('redneck_title.jpg', :size => "320x240")
                %td#register_header
                  %h3 Sign Up
                  It is free to register
              %tr
                %td#registration_form
                  = render :partial => 'registration_form_1'

        %td
          %table#sponsor_table
            %tr
              %td#sponsor_image
                = image_tag('catherine_taylor_long_rooster.jpg', :size => '240x240')
            %tr
              %td
                = link_to_function image_tag('wounded_warrior.jpg'), "window.open('https://support.woundedwarriorproject.org/default.aspx?tsid=66&campaignSource=WEBSITE&source=ONLINE&sm_guid=MTYyODV8MjQwNjY4NHwtMXxBbm5hcm9zZWFuZGVyc29uQGdtYWlsLmNvbXwzMTc5MXw1', '_blank')"
