#registration
  %table
    %tbody
      %tr
        %td
          %table#registration_table{:style => 'max-height:240px'}
            %tbody
              %tr
                %td{:rowspan => 2, :style => 'border-left'}
                  = image_tag('teri_title.png', :size => "320x240")
                %td#register_header
                  %h3 Sign Up
                  It is free to register
              %tr
                %td#registration_form
                  = render :partial => 'registration_form_1'

        %td
          %table#sponsor_table
            %tr
              %td#sponsor_image
            %tr
              %td=render :partial => 'user/wounded_warrior'

