#registration
  %table
    %tbody
      %tr
        %td{:width => "700px", :height => "240px", :align => 'center'}
          %table#registration_table{:width => "350px"}
            %tbody
              %tr
                %td
                  %h3 Enter the new password you would like to use below
              %tr
                %td=render :partial => 'password_reset_form'

        %td
          %table#sponsor_table
            %tr
              %td#sponsor_image
            %tr
              %td
                = link_to_function image_tag('wounded_warrior.jpg'), "window.open('https://support.woundedwarriorproject.org/default.aspx?tsid=66&campaignSource=WEBSITE&source=ONLINE&sm_guid=MTYyODV8MjQwNjY4NHwtMXxBbm5hcm9zZWFuZGVyc29uQGdtYWlsLmNvbXwzMTc5MXw1', '_blank')"
