#email
  %img{:src => 'http://theredneckroundup.com/assets/redneck_roundup_logo.png', :size => '325x114'}
  %br
  %h2 "#{@liker.cb_name} liked your status"
  %br
  %p=raw "<a href=http://theredneckroundup.com/post/index/#{@post.id}>View Comment</a>"