#friend{:style => "float:left"}
  = link_to image_tag(friend_images.requester.profile_image.nil? ? 'redneck_roundup_logo.png' : friend_images.requester.profile_image.thumbnail_url, :size => "60x60"), {:action => 'user_profile', :id => friend_images.friend_id}
  %br
  = link_to friend_images.requester.handle, {:action => 'user_profile', :id => friend_images.friend_id}