= link_to '[X]', {:action=>'hide_full_image'}, :style => 'float:right;color:white', :remote => true
%br
= link_to image_tag(image.url, :style => "max-width:75%;max-height:500px"), {:action => 'hide_full_image'}, :remote => true