= link_to '[X]', {:action=>'hide_video'}, :style => 'float:right;color:white', :remote => true
%br
= video_tag(["videos/intro_video.m4v", "videos/intro_video.mkv", "videos/intro_video.mp4", "videos/intro_video.webm"], :size => "640x480", :controls => true, :autobuffer => true, :autoplay => true)