- @user.images.select{|i| i.thumbnail_url.nil? == false}.each do |i|
  #image{:style => 'float:left'}
    = link_to image_tag(i.thumbnail_url, :size => "60x60", :style => "margin:5px;"), {:action => 'show_large_image', :id => i.id}, {:remote => true, :class => 'picture', :id => "picture_#{i.id}"}
