= form_for(:image, :url => {:action => 'upload_image'}, :html => { :multipart => true }, :remote => true) do |f|
  = f.error_messages
  %table#table_settings
    %tbody
      %tr
        %th Choose Picture For Upload
        %td= f.file_field :name
  = f.submit 'Upload Picture'