#user_status
  #login_status
    = current_user.cb_name
    = link_to '(Log Off)', {:controller => 'user', :action => 'log_off'}
    %br
    = link_to 'Settings', {:controller => 'user', :action => 'settings'}
    %br
    = link_to 'Profile', {:controller => 'roundup', :action => 'user_profile', :id => current_user.id}