#roundup{:style => "background-image:url(../user/background/#{current_user.id})"}
  %table
    %tbody
      %tr
        %td
          %table#roundup_table{:style => "max-width:500px;min-height:250px"}
            %tr#post_form
              %td=render :partial => 'new_post_form'
            = render :partial => 'post', :collection => @posts
            = render :partial => 'bottom_menu'
        %td{:style => 'vertical-align:top'}
          %table#friend_form
            %tr
              %td=render :partial => 'friend_info'
            %tr{:align => 'center'}
              %td=render :partial => 'roundup/fan_pages'