#roundup{:style => "background-image:url(../user/background/#{current_user.id})"}
  %table
    %tbody
      %tr
        %td
          %table#roundup_table{:style => "width:500px;min-height:250px;max-width:500px;"}
            %tr#post_form
              %td= render :partial => 'all_request_options'
        %td{:style => 'vertical-align:top'}
          %table#friend_form
            %tr
              %td=render :partial => 'friend_info'
            %tr{:align => 'center'}
              %td=render :partial => 'user/wounded_warrior'