body
{
    padding:0;
    margin:0;
}
#login{
    text-align:right;
    color:white;
    font-weight:bold;
    font-size:8pt;
    float:right;
    margin-right:5px
}
#user_status{
    text-align:right;
    color:white;
    font-weight:bold;
    font-size:12pt;
    float:right;
    margin-right:5px
}
#user_status a {
    color:white;
}

#user_status a:hover {
    color:red;
}

#login_long
{
}

#title_bar{
    vertical-align:center;
    background:url(title_bar.png);
    position:fixed;
    width:100%;
    z-index:3;
}

#ad_center
{
    margin-top:20px;
    margin-left:20px;
    width:225px;
    float:left;
    position:fixed;
    top:60px;
    z-index:3
}
#redneck_toast
{
    float:right;
    position:fixed;
    top:160px;
    right:5px;
    z-index:2;
}

#ad_center_roundup
{
    margin-top:20px;
    margin-left:5px;
    width:225px;
    float:left;
    position:fixed;
    top:140px;
    z-index:3
}
#advertiser_link
{
    text-decoration:none;
    float:left;
    z-index:2;
}
#ad_center h2
{
    text-align:center
}
#register_header{
    border-bottom-color:gray;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
#registration{
    padding-left:20%;
    width:80%;
    background-image:url(camo1.png);
    background-repeat:repeat;
    padding-bottom:76px;
    min-height:600px;
}
#registration_table
{
    border-color:black;
    border-style:outset;
    border-width:4px;
    background-color:white;
    overflow: visible;
    float:left;
    z-index:2;
    position:relative;
    top:80px;
    vertical-align:top;

}
#roundup{
    padding-left:19%;
    width:80%;
    background-image:url(camo1.png);
    background-repeat:repeat;
    padding-bottom:156px;
    min-height:600px;
    opacity:50%;
}
#roundup_table
{
    border-color:black;
    border-style:outset;
    border-width:4px;
    background-color:white;
    overflow: visible;
    float:left;
    z-index:2;
    position:relative;
    top:160px;
    vertical-align:top;

}
#sponsor_image
{
    text-align:center
}
#sponsor_table
{
    width:240px;
    top:80px;
    position:fixed;
}

#advertiser_request_form
{
    float:left;
    position:absolute;
    top:0px;
    left:200px;
    z-index:4;
    background-color:#000000;
    color:white;
    border-color:#006400;
    border-style:double;
    border-width:2px;
    padding:10px;
}
#advertiser_request_form a
{
    color:yellow;
}

#tabs li
{
    float:left;
    position:relative;
    top:30px;
    left:230px;
    padding:10px;
    margin-left:10px;
    background-color:black;
    border-style:inset;
    border-color:green;
    border-top-width:2px;
    border-bottom-width:0px;
    border-left-width:2px;
    border-right-width:2px;
    width:85px;
    z-index:4;

}
a
{
    color:blue;
    text-decoration:none;
    font-size:smaller
}
#tabs a
{
    color:white;
    text-decoration:none;
    font-size:smaller
}
a:hover
{
    color:red;
    text-decoration:none;
    font-size:smaller
}
h3 a
{
    color:blue;
}
h3 a:hover
{
    color:red;
}
#tabs {
 float:left;
}
.selected{
    background-color:green
}
#settings {
    position:relative;
}
#table_settings th
{
    text-align:left;
    padding-right:10px;
}
#table_settings a
{
    color:blue
}
.post{
    border-color:#d3d3d3;
    border-width:2px;
    border-style:inset;
    width:98%;
    margin-top:3px;
    padding:2px;
}
.post a {
    color:blue;
    font-weight:bold;
}

.profile_image
{
    width:65px;
}
.post_text{
    text-align:left;
    vertical-align:top;
    max-width:400px;
    padding:2px;
}
.new_post_button
{
    text-align:right;
    background-color:#d3d3d3;
    margin:0;
    padding:0;
    max-width:400px;
}
.greyout
{
    color:black;
    font-size:smaller;
    text-align:right;
    background-color:#d3d3d3;
    border-bottom-color:#a9a9a9;
    border-bottom-style:solid;
    border-bottom-width:1px;

}
.greyleft
{
    background-color:#d3d3d3;
    font-size:smaller;
    background-color:#d3d3d3;
    border-bottom-color:#a9a9a9;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
#comment_form
{
    vertical-align:top;
    background-color:#d3d3d3;
}
#comment
{
    vertical-align:top;
    background-color:#d3d3d3;
    border-width:2px;
    border-color:#a9a9a9;
    border-style:outset;
    max-width:400px;
}
#friend_form{
    overflow: visible;
    margin-left:5px;
    z-index:2;
    position:fixed;
    top:160px;
    vertical-align:top;
    border-color:black;
    border-style:outset;
    border-width:4px;
    background-color:white;
    max-width:300px;
    left:775px;
}

#profile_images {
    overflow: visible;
    float:right;
    margin-left:5px;
    z-index:2;
    position:fixed;
    top:160px;
    right:5px;
    vertical-align:top;
    border-color:black;
    border-style:outset;
    border-width:4px;
    background-color:white;
    max-width:225px;
}
#friend_images {
max-width:300px;
}
#friend_search{
    clear:left;
    width:300px;
    max-width:300px;
}
.request{
    color:blue;
    indent:0px;
    max-width:200px;
    width:200px;
}
#friend_request_options
{
    width:300px;
    max-width:300px;
    display:inline;
}
#friend_request_options tr
{
    background-color:lightgray;
    border-color:white;
    border-style:groove;
    border-width:2px;
    max-width:100%;
    width:100%;
}
#image_bar
{
    height:74px;
    max-height:74px;
    width:100%;
    background-color:white;
    border-color:black;
    border-style:ridge;
    border-width:3px;
    display:inline;
    position:fixed;
    top:76px;
    z-index:5;
    overflow:hidden;
}
#full_picture
{
    position:fixed;
    top:-45px;
    left:15px;
    z-index:10;
    background-color:black;
    padding:5%;
    width:90%;
    height:600px;
    vertical-align:middle;
    text-align:center;
}
.picture {
    z-index:6;
}
#left_scroll_bar
{
    z-index:7;
}
#right_scroll_bar
{
    position:absolute;
    z-index:99;
    top:0px;
    right:0px;
}

#feedback_form{
    position:fixed;
    left:250px;
    top:160px;
    height:400px;
    width:800px;
    z-index:10;
    background: black;
    color:white;
    padding:2%;
}
#feedback_form_table
{
    color:white;
}