#login{
    float:right;
    color:white;
    font-weight:bold;
    font-size:large;
}

#title_bar{
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    height:80px;
    vertical-align:center;
    background:url(title_bar.png)
}

#ad_center
{
    margin-top:20px;
    margin-left:20px;
    width:225px;
    float:left;
}
#advertiser_link
{
    text-decoration:none;
    float:left;
    z-index:2;
}
#ad_center h2
{
    text-align:center
}
#register_header{
    border-bottom-color:gray;
    border-bottom-style:solid;
    border-bottom-width:1px;
}
#registration{
    padding-left:20%;
    padding-top:5%;
    height:500px;
    background-image:url(camo1.png)
}
#registration_table
{
    border-color:black;
    border-style:outset;
    border-width:4px;
    background-color:white;
}
#sponsor_image
{
    text-align:center
}
#sponsor_table
{
    width:240px
}

#advertiser_request_form
{
    float:left;
    position:absolute;
    top:100px;
    left:200px;
    z-index:4;
    background-color:#000000;
    color:white;
    border-color:#006400;
    border-style:double;
    border-width:2px;
    padding:10px;
}
#advertiser_request_form a
{
    color:yellow;
}
 #buca_daughter
{
    /*//mozilla*/
    float:left;
    z-index:3;
    position:relative;
    top:-0px;
    left:40px;
}